---
import Layout from "../layouts/Layout.astro"
---
<Layout title="about">
    <h1 class="text-white font-extrabold">about the project</h1>
    <p class="text-white">The SpaceX Launches is a demo for the Astro course</p>
</Layout>